<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.user.dao.UserDao">
    <resultMap id="user" type="com.user.vo.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
    </resultMap>

	<!-- 根据角色的不同查询不同的where查询条件 -->
    <select id="getQueryConditions" parameterType="string" resultType="string">
        SELECT conditions 
         FROM t_query_table 
        WHERE id = (
        		SELECT MAX(id) FROM t_query_table 
        	 	WHERE t_table_name = #{tableName} AND t_role_name 
        	 	IN(#{roles}))
    </select>
    
    <!-- 获取用户信息 -->
    <select id="getUserByUsername" parameterType="string" resultMap="user">
        SELECT * FROM t_user WHERE USERNAME = #{username}
    </select>

    <!-- 获取用户列表-->
    <select id="getUserList" resultMap="user">
        SELECT * FROM t_user
        <if test="conditions!=null and conditions !=''">
        	where ${conditions}
        </if>
    </select>

    <select id="getUserRolesSet" parameterType="string" resultType="string">
        SELECT a.role_name
          FROM t_role a
          WHERE a.id  IN  (SELECT b.role_id
                             FROM t_user_role b
                             LEFT JOIN t_user c
                             ON b.user_id=c.id
                             WHERE c.username=#{username})
    </select>

    <select id="getRolePermissionsSet" parameterType="string" resultType="string">
        SELECT a.permission_name
          FROM t_permission a
         WHERE a.id IN(
                SELECT b.permission_id
                  FROM t_role_permission b
                  LEFT JOIN t_role c
                  ON b.role_id = c.id
                  WHERE c.role_name =#{role_name})
    </select>

    <select id="getUserAnthenticaition" parameterType="map" resultMap="user">
        SELECT username, password FROM t_user WHERE username=#{username} AND  password=#{password}
    </select>
</mapper>